{% extends 'base.html' %}


{% block title %}
Добавить статью
{% endblock title %}


{% block body %}
<div class="container">
    <h1>Добавление статьи</h1>
    <form method="POST">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Введите анонс"></textarea><br>
        <textarea type="text" name="text" id="text" class="form-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock body %}