{% extends 'base.html' %}


{% block title %}
Все посты
{% endblock title %}


{% block body %}
<div class="container">
    <h1>Все статьи</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Подробнее</a>
        </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-danger">
        <p>У нас пока нет ни одной статьи :(</p>
    </div>
    {% endif %}
</div>
{% endblock body %}