{% extends 'base.html' %}


{% block title %}
Редактировать статью
{% endblock title %}


{% block body %}
<div class="container">
    <h1>Редактирование статьи</h1>
    <form method="POST">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea type="text" name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock body %}